<?xml version="1.0" encoding="utf-8"?>
<Settings>
  
  <!--服务器启动地址 -->
  <setting key="API_URL" value="http://172.18.16.230:9000"></setting>

  <setting key="HikRobot_API_URL" value="http://172.18.16.230:8181"></setting>

  <setting key="HikRobot_AGV_API_URL" value="http://172.18.16.230:8083"></setting>

  <!--A区机械手PLC配置 172.18.16.170 -->
  <setting key="Inovance_IP_1" value="127.0.0.1"></setting>
  <setting key="Inovance_Port_1" value="502"></setting>
  <setting key="Inovance_Slave_1" value="1"></setting>

  <!--B区机械手PLC配置 172.18.16.168 -->
  <setting key="Inovance_IP_2" value="127.0.0.1"></setting>
  <setting key="Inovance_Port_2" value="502"></setting>
  <setting key="Inovance_Slave_2" value="1"></setting>
  
</Settings>