<PageSEOConfigs>
	<page name="Common">
		<title><![CDATA[海康AGV调度WCS]]></title>
		<keywords><![CDATA[吉特日化生产执行制造系统,吉特仓储管理系统,专注于日化,食品,火锅底料,保健品,医药生产配料,称量防差错,投料防差错,柔性化工艺（日化行业MES|制药行业MES|化工行业MES|火锅底料MES） ]]></keywords>
		<description><![CDATA[吉特日化生产执行制造系统,吉特仓储管理系统,贺臣,15800466429]]></description>
	</page>
</PageSEOConfigs>